.contact {
  &__info {
    @include pageGrid;
  }

  &__location {
    margin-bottom: 48px;

    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 5;
    }

    &-title {
      @include section-subtitle;

      color: $main-text-color;
      margin-bottom: 16px;
    }
  }

  &__label {
    @include section-text;

    font-style: Regular;
    margin-bottom: 4px;
  }

  &__link {
    @include section-subtitle;

    color: $main-text-color;
    text-decoration: none;
    font-style: normal;
    margin-bottom: 8px;
  }

  &__group {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: 7/-1;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    background: $form-background;
    text-decoration: none;
    border: none;
    height: 48px;
    grid-column: 1/-1;

    margin-bottom: 16px;

    @include section-text;

    align-items: center;

    padding-left: 10.9px;
  }

  &__text-area {
    align-items: flex-start;
    padding-top: 14px;
    height: 144px;
  }

  &__button {
    @include button;

    &:hover {
      @include button-hover;
    }
  }
}
