.footer {
  display: flex;
  flex-direction: column;
  background-image: url('/src/images/footer-bg.png');
  background-size: 195%;
  background-position: 50% 40%;
  height: 180px;
  width: 100%;

  position: sticky; /* to keep cross always visible */
  bottom: 0;
  z-index: -1;

  @include on-tablet {
    height: 360px;
    background-position: 65% 45%;
    background-size: 165%;
  }

  @include onDesktop {
    height: 360px;
    background-position: 100% 45%;
    background-size: cover;
  }
}
