.header {
  // display: none !important;
  
  box-sizing: border-box;
  background-image: url("../images/header-bg.png");
  height: 100vh;
  background-size: cover;
  background-position: center;

  display: flex;

  flex-direction: column;

  &_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;

    padding-block: 25px;
    
    @include constentPaddingInline;

    text-align: center;
    color: $header-text-color;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    letter-spacing: -1.5px;
    vertical-align: middle;
    line-height: 100%;

    @include onTablet {
      font-size: 64px;
      height: 5vh
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

