.icon {
  display: block;

  /* a - інлайновий елемент потрібнцо це щоб зявилося на екрані */

  height: 24px;
  width: 24px;

  background-size: cover;

  @media (min-width: 576px) {
    height: 32px;
    width: 32px;
  }

  @include hover(transform, scale(1.2));

  &--phone {
    background-image: url('../images/icons/icon-phone-call.svg');
  }
  &--menu {
    background-image: url('../images/icons/icon-burger-menu.svg');

    &:hover {
      background-image: url('../images/icons/icon-burger-menu-hover.svg');
    }
  }
  &__close {
    background-image: url('../images/icons/icon-close.svg');
  }
}
