.top-bar {
  padding-block: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-block: 50px;
    gap: 55px;
  }

  &__icons {
    display: flex;
    @include iconGap;
  }

  &__logo {
    display: flex;
    @include hover(transform, scale(1.2));
  }

}
