@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin constentPaddingInline() {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesktop() {
    padding-inline: 120px;
    max-width: 1020px;
    margin-inline: auto;
  }
}

.container {
  @include constentPaddingInline;
}

@mixin iconGap(){
  gap: 24px;
  @include onTablet {
    grid-gap: 55px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover{
    #{$property}: $toValue
  }
}

@mixin text-hover {
  content: '';
  position: absolute;
  width: 100%;
  background-color: $header-text-color;
  bottom: -8px;
  height: 1px;
  display: block;

  transition: transform $transition-time;
  transform: scale(0);
  transform-origin: left;
}

@mixin pageGrid {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;

  @include onTablet {
    --columns: 6;
    column-gap: 24px;
  }

  @include onDesktop {
      --columns: 12;
  }
}
