$main-text-color: #161616;
$header-text-color: #fff;
$accent-color: #d12d35;

$font-family: Cinzel, sans-serif;

$tablet-min-width: 744px;
$desktop-min-width: 1024px;

$transition-time: 0.3s;

$form-background:#F8F8FA;

